In [2]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
import json

In [3]:
# covid Data API import
url = "https://api.apify.com/v2/key-value-stores/vpfkeiYLXPIDIea2T/records/LATEST?disableRedirect=true"

In [4]:
response = requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "README": "https://apify.com/puorc/mexico-covid19?utm_source=app",
    "State": {
        "Aguascalientes": {
            "deceased": 676,
            "infected": 7753
        },
        "Baja California": {
            "deceased": 3680,
            "infected": 22137
        },
        "Baja California Sur": {
            "deceased": 537,
            "infected": 10925
        },
        "Campeche": {
            "deceased": 840,
            "infected": 6235
        },
        "Chiapas": {
            "deceased": 1323,
            "infected": 8079
        },
        "Chihuahua": {
            "deceased": 1483,
            "infected": 12753
        },
        "Ciudad de Mexico": {
            "deceased": 10730,
            "infected": 138329
        },
        "Coahuila": {
            "deceased": 1996,
            "infected": 28317
        },
        "Colima": {
            "deceased": 579,
            "infected": 5671
        },
        "Durango": {
            "deceased": 689,
            "infected": 9844
        },
        "Estado de Mexico": {
            "deceased": 13007,
            "infected": 88619
        },
        "Guanajuato": {
            "deceased": 3099,
            "infected": 43054
        },
        "Guerrero": {
            "deceased": 2057,
            "infected": 20295
        },
        "Hidalgo": {
            "deceased": 2061,
            "infected": 13844
        },
        "Jalisco": {
            "deceased": 3509,
            "infected": 29252
        },
        "Michoacan": {
            "deceased": 1827,
            "infected": 21927
        },
        "Morelos": {
            "deceased": 1125,
            "infected": 6283
        },
        "Nayarit": {
            "deceased": 782,
            "infected": 6247
        },
        "Nuevo Leon": {
            "deceased": 3306,
            "infected": 43667
        },
        "Oaxaca": {
            "deceased": 1554,
            "infected": 18694
        },
        "Puebla": {
            "deceased": 4372,
            "infected": 32922
        },
        "Queretaro": {
            "deceased": 997,
            "infected": 10086
        },
        "Quintana Roo": {
            "deceased": 1743,
            "infected": 12590
        },
        "San Luis Potosi": {
            "deceased": 1782,
            "infected": 24279
        },
        "Sinaloa": {
            "deceased": 3366,
            "infected": 19791
        },
        "Sonora": {
            "deceased": 2971,
            "infected": 35177
        },
        "Tabasco": {
            "deceased": 2893,
            "infected": 32868
        },
        "Tamaulipas": {
            "deceased": 2381,
            "infected": 30066
        },
        "Tlaxcala": {
            "deceased": 1133,
            "infected": 7820
        },
        "Veracruz": {
            "deceased": 4591,
            "infected": 34679
        },
        "Yucatan": {
            "deceased": 1635,
            "infected": 19426
        },
        "Zacatecas": {
            "deceased": 783,
            "infected": 8122
        }
    },
    "country": "Mexico",
    "deceased": 83507,
    "historyData": "https://api.apify.com/v2/datasets/4efvuMEdxdQPCreW7/items?format=json&clean=1",
    "infected": 809751,
    "lastUpdatedAtApify": "2020-10-12T20:00:13.734Z",
    "lastUpdatedAtSource": "2020-10-09T00:00:00.000Z",
    "negative": 956251,
    "recovered": "N/A",
    "sourceUrl": "https://coronavirus.gob.mx/datos/",
    "suspected": 302645,
    "tested": "N/A"
}

In [5]:
Covid_data_dic = response['State']
Covid_data_dic

{'Aguascalientes': {'deceased': 676, 'infected': 7753},
 'Baja California': {'deceased': 3680, 'infected': 22137},
 'Baja California Sur': {'deceased': 537, 'infected': 10925},
 'Campeche': {'deceased': 840, 'infected': 6235},
 'Chiapas': {'deceased': 1323, 'infected': 8079},
 'Chihuahua': {'deceased': 1483, 'infected': 12753},
 'Ciudad de Mexico': {'deceased': 10730, 'infected': 138329},
 'Coahuila': {'deceased': 1996, 'infected': 28317},
 'Colima': {'deceased': 579, 'infected': 5671},
 'Durango': {'deceased': 689, 'infected': 9844},
 'Estado de Mexico': {'deceased': 13007, 'infected': 88619},
 'Guanajuato': {'deceased': 3099, 'infected': 43054},
 'Guerrero': {'deceased': 2057, 'infected': 20295},
 'Hidalgo': {'deceased': 2061, 'infected': 13844},
 'Jalisco': {'deceased': 3509, 'infected': 29252},
 'Michoacan': {'deceased': 1827, 'infected': 21927},
 'Morelos': {'deceased': 1125, 'infected': 6283},
 'Nayarit': {'deceased': 782, 'infected': 6247},
 'Nuevo Leon': {'deceased': 3306, 'infected': 43667},
 'Oaxaca': {'deceased': 1554, 'infected': 18694},
 'Puebla': {'deceased': 4372, 'infected': 32922},
 'Queretaro': {'deceased': 997, 'infected': 10086},
 'Quintana Roo': {'deceased': 1743, 'infected': 12590},
 'San Luis Potosi': {'deceased': 1782, 'infected': 24279},
 'Sinaloa': {'deceased': 3366, 'infected': 19791},
 'Sonora': {'deceased': 2971, 'infected': 35177},
 'Tabasco': {'deceased': 2893, 'infected': 32868},
 'Tamaulipas': {'deceased': 2381, 'infected': 30066},
 'Tlaxcala': {'deceased': 1133, 'infected': 7820},
 'Veracruz': {'deceased': 4591, 'infected': 34679},
 'Yucatan': {'deceased': 1635, 'infected': 19426},
 'Zacatecas': {'deceased': 783, 'infected': 8122}}

In [6]:
states = ['Aguascalientes'	,
 'Baja California'	,
 'Baja California Sur'	,
 'Campeche'	,
 'Chiapas'	,
 'Chihuahua'	,
 'Ciudad de Mexico'	,
 'Coahuila'	,
 'Colima'	,
 'Durango'	,
 'Estado de Mexico'	,
 'Guanajuato'	,
 'Guerrero'	,
 'Hidalgo'	,
 'Jalisco'	,
 'Michoacan'	,
 'Morelos'	,
 'Nayarit'	,
 'Nuevo Leon'	,
 'Oaxaca'	,
 'Puebla'	,
 'Queretaro'	,
 'Quintana Roo'	,
 'San Luis Potosi'	,
 'Sinaloa'	,
 'Sonora'	,
 'Tabasco'	,
 'Tamaulipas'	,
 'Tlaxcala'	,
 'Veracruz'	,
 'Yucatan'	,
 'Zacatecas'	]

In [7]:
infected = []

In [8]:
for x in states:
    infected.append(Covid_data_dic[x]['infected'])

In [9]:
infected

[7753,
 22137,
 10925,
 6235,
 8079,
 12753,
 138329,
 28317,
 5671,
 9844,
 88619,
 43054,
 20295,
 13844,
 29252,
 21927,
 6283,
 6247,
 43667,
 18694,
 32922,
 10086,
 12590,
 24279,
 19791,
 35177,
 32868,
 30066,
 7820,
 34679,
 19426,
 8122]

In [10]:
data = {"State": states,"Covid Cases":infected}


covid_df = pd.DataFrame(data,columns=['State',  'Covid Cases'])
covid_df.head()

                 State  Covid Cases
0       Aguascalientes         7753
1      Baja California        22137
2  Baja California Sur        10925
3             Campeche         6235
4              Chiapas         8079

In [11]:
print(f"COVID19 infected data has been updated succesfully")

COVID19 infected data has been updated succesfully

In [18]:
file1 = "clean_data/población.csv"
file2 = "clean_data/tourist.csv"
file3 = "clean_data/crimenes.csv"

In [19]:
poblacion_df = pd.read_csv(file1)
tourist_df = pd.read_csv(file2)
crimes_df = pd.read_csv(file3)

In [20]:
poblacion_df.head()

                 State    Total
0       Aguascalientes  1425607
1      Baja California  3769020
2  Baja California Sur   798447
3             Campeche   928363
4             Coahuila  3146771

In [21]:
tourist_df.head()

                 State Number of Tourists
0       Aguascalientes            856,960
1      Baja California          3,958,843
2  Baja California Sur         3,445,908
3             Campeche      1,578,131.00
4              Chiapas      4,376,440.00

In [22]:
crimes_df.head()

                  State  Crimes
0        Aguascalientes   13252
1       Baja California   38801
2   Baja California Sur    7356
3              Campeche     827
4  Coahuila de Zaragoza   19368

In [23]:
covid_df.head()

                 State  Covid Cases
0       Aguascalientes         7753
1      Baja California        22137
2  Baja California Sur        10925
3             Campeche         6235
4              Chiapas         8079

In [24]:
merge_df = pd.merge(covid_df, poblacion_df, on="State")

In [25]:
merge_df.head()

                 State  Covid Cases    Total
0       Aguascalientes         7753  1425607
1      Baja California        22137  3769020
2  Baja California Sur        10925   798447
3             Campeche         6235   928363
4              Chiapas         8079  5543828

In [26]:
final_df = pd.merge(merge_df, tourist_df, on="State")
final_df.head()

                 State  Covid Cases    Total Number of Tourists
0       Aguascalientes         7753  1425607            856,960
1      Baja California        22137  3769020          3,958,843
2  Baja California Sur        10925   798447         3,445,908
3             Campeche         6235   928363      1,578,131.00
4              Chiapas         8079  5543828      4,376,440.00

In [27]:
final_final_df = pd.merge(final_df, crimes_df, on="State")
final_final_df.head()

                 State  Covid Cases    Total Number of Tourists  Crimes
0       Aguascalientes         7753  1425607            856,960   13252
1      Baja California        22137  3769020          3,958,843   38801
2  Baja California Sur        10925   798447         3,445,908     7356
3             Campeche         6235   928363      1,578,131.00      827
4              Chiapas         8079  5543828      4,376,440.00     6482

In [29]:
renamed_df = final_final_df.rename(columns={"Covid Cases": "Covid Cases",
                                                "Total": "Population",
                                                "Number of Tourists": "Tourists",
                                                "Crimes": "Crimes"
                                                })
renamed_df.head()

                 State  Covid Cases  Population        Tourists  Crimes
0       Aguascalientes         7753     1425607         856,960   13252
1      Baja California        22137     3769020       3,958,843   38801
2  Baja California Sur        10925      798447      3,445,908     7356
3             Campeche         6235      928363   1,578,131.00      827
4              Chiapas         8079     5543828   4,376,440.00     6482