In [1]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
import json

In [2]:
# covid Data API import
url = "https://api.apify.com/v2/key-value-stores/vpfkeiYLXPIDIea2T/records/LATEST?disableRedirect=true"

In [3]:
response = requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "README": "https://apify.com/puorc/mexico-covid19?utm_source=app",
    "State": {
        "Aguascalientes": {
            "deceased": 676,
            "infected": 7753
        },
        "Baja California": {
            "deceased": 3680,
            "infected": 22137
        },
        "Baja California Sur": {
            "deceased": 537,
            "infected": 10925
        },
        "Campeche": {
            "deceased": 840,
            "infected": 6235
        },
        "Chiapas": {
            "deceased": 1323,
            "infected": 8079
        },
        "Chihuahua": {
            "deceased": 1483,
            "infected": 12753
        },
        "Ciudad de Mexico": {
            "deceased": 10730,
            "infected": 138329
        },
        "Coahuila": {
            "deceased": 1996,
            "infected": 28317
        },
        "Colima": {
            "deceased": 579,
            "infected": 5671
        },
        "Durango": {
            "deceased": 689,
            "infected": 9844
        },
        "Estado de Mexico": {
            "deceased": 13007,
            "infected": 88619
        },
        "Guanajuato": {
            "deceased": 3099,
            "infected": 43054
        },
        "Guerrero": {
            "deceased": 2057,
            "infected": 20295
        },
        "Hidalgo": {
            "deceased": 2061,
            "infected": 13844
        },
        "Jalisco": {
            "deceased": 3509,
            "infected": 29252
        },
        "Michoacan": {
            "deceased": 1827,
            "infected": 21927
        },
        "Morelos": {
            "deceased": 1125,
            "infected": 6283
        },
        "Nayarit": {
            "deceased": 782,
            "infected": 6247
        },
        "Nuevo Leon": {
            "deceased": 3306,
            "infected": 43667
        },
        "Oaxaca": {
            "deceased": 1554,
            "infected": 18694
        },
        "Puebla": {
            "deceased": 4372,
            "infected": 32922
        },
        "Queretaro": {
            "deceased": 997,
            "infected": 10086
        },
        "Quintana Roo": {
            "deceased": 1743,
            "infected": 12590
        },
        "San Luis Potosi": {
            "deceased": 1782,
            "infected": 24279
        },
        "Sinaloa": {
            "deceased": 3366,
            "infected": 19791
        },
        "Sonora": {
            "deceased": 2971,
            "infected": 35177
        },
        "Tabasco": {
            "deceased": 2893,
            "infected": 32868
        },
        "Tamaulipas": {
            "deceased": 2381,
            "infected": 30066
        },
        "Tlaxcala": {
            "deceased": 1133,
            "infected": 7820
        },
        "Veracruz": {
            "deceased": 4591,
            "infected": 34679
        },
        "Yucatan": {
            "deceased": 1635,
            "infected": 19426
        },
        "Zacatecas": {
            "deceased": 783,
            "infected": 8122
        }
    },
    "country": "Mexico",
    "deceased": 83507,
    "historyData": "https://api.apify.com/v2/datasets/4efvuMEdxdQPCreW7/items?format=json&clean=1",
    "infected": 809751,
    "lastUpdatedAtApify": "2020-10-12T20:00:13.734Z",
    "lastUpdatedAtSource": "2020-10-09T00:00:00.000Z",
    "negative": 956251,
    "recovered": "N/A",
    "sourceUrl": "https://coronavirus.gob.mx/datos/",
    "suspected": 302645,
    "tested": "N/A"
}

In [5]:
Covid_data_dic = response['State']
Covid_data_dic

{'Aguascalientes': {'deceased': 676, 'infected': 7753},
 'Baja California': {'deceased': 3680, 'infected': 22137},
 'Baja California Sur': {'deceased': 537, 'infected': 10925},
 'Campeche': {'deceased': 840, 'infected': 6235},
 'Chiapas': {'deceased': 1323, 'infected': 8079},
 'Chihuahua': {'deceased': 1483, 'infected': 12753},
 'Ciudad de Mexico': {'deceased': 10730, 'infected': 138329},
 'Coahuila': {'deceased': 1996, 'infected': 28317},
 'Colima': {'deceased': 579, 'infected': 5671},
 'Durango': {'deceased': 689, 'infected': 9844},
 'Estado de Mexico': {'deceased': 13007, 'infected': 88619},
 'Guanajuato': {'deceased': 3099, 'infected': 43054},
 'Guerrero': {'deceased': 2057, 'infected': 20295},
 'Hidalgo': {'deceased': 2061, 'infected': 13844},
 'Jalisco': {'deceased': 3509, 'infected': 29252},
 'Michoacan': {'deceased': 1827, 'infected': 21927},
 'Morelos': {'deceased': 1125, 'infected': 6283},
 'Nayarit': {'deceased': 782, 'infected': 6247},
 'Nuevo Leon': {'deceased': 3306, 'infected': 43667},
 'Oaxaca': {'deceased': 1554, 'infected': 18694},
 'Puebla': {'deceased': 4372, 'infected': 32922},
 'Queretaro': {'deceased': 997, 'infected': 10086},
 'Quintana Roo': {'deceased': 1743, 'infected': 12590},
 'San Luis Potosi': {'deceased': 1782, 'infected': 24279},
 'Sinaloa': {'deceased': 3366, 'infected': 19791},
 'Sonora': {'deceased': 2971, 'infected': 35177},
 'Tabasco': {'deceased': 2893, 'infected': 32868},
 'Tamaulipas': {'deceased': 2381, 'infected': 30066},
 'Tlaxcala': {'deceased': 1133, 'infected': 7820},
 'Veracruz': {'deceased': 4591, 'infected': 34679},
 'Yucatan': {'deceased': 1635, 'infected': 19426},
 'Zacatecas': {'deceased': 783, 'infected': 8122}}

In [6]:
states = ['Aguascalientes'	,
 'Baja California'	,
 'Baja California Sur'	,
 'Campeche'	,
 'Chiapas'	,
 'Chihuahua'	,
 'Ciudad de Mexico'	,
 'Coahuila'	,
 'Colima'	,
 'Durango'	,
 'Estado de Mexico'	,
 'Guanajuato'	,
 'Guerrero'	,
 'Hidalgo'	,
 'Jalisco'	,
 'Michoacan'	,
 'Morelos'	,
 'Nayarit'	,
 'Nuevo Leon'	,
 'Oaxaca'	,
 'Puebla'	,
 'Queretaro'	,
 'Quintana Roo'	,
 'San Luis Potosi'	,
 'Sinaloa'	,
 'Sonora'	,
 'Tabasco'	,
 'Tamaulipas'	,
 'Tlaxcala'	,
 'Veracruz'	,
 'Yucatan'	,
 'Zacatecas'	]

In [7]:
infected = []

In [8]:
for x in states:
    infected.append(Covid_data_dic[x]['infected'])

In [9]:
infected

[7753,
 22137,
 10925,
 6235,
 8079,
 12753,
 138329,
 28317,
 5671,
 9844,
 88619,
 43054,
 20295,
 13844,
 29252,
 21927,
 6283,
 6247,
 43667,
 18694,
 32922,
 10086,
 12590,
 24279,
 19791,
 35177,
 32868,
 30066,
 7820,
 34679,
 19426,
 8122]

In [10]:
data = {"State": states,"Covid Cases":infected}


covid_df = pd.DataFrame(data,columns=['State',  'Covid Cases'])
covid_df.head()

                 State  Covid Cases
0       Aguascalientes         7753
1      Baja California        22137
2  Baja California Sur        10925
3             Campeche         6235
4              Chiapas         8079

In [11]:
covid_df.to_csv("clean_data/covid.csv", index=False)

In [12]:
print(f"COVID19 infected data has been updated succesfully")

COVID19 infected data has been updated succesfully

In [13]:
# Import other dataframes and clean them
# 1. Population per state data
# https://www.inegi.org.mx/app/tabulados/interactivos/?pxq=Poblacion_Poblacion_01_e60cd8cf-927f-4b94-823e-972457a12d4b

In [14]:
inegi = "raw_data/INEGI_Censo_Población_Vivienda_2020.csv"
census = pd.read_csv(inegi)

In [15]:
census.head(15)
#Remove Estados Unidos Mexicanos, keep only 2020 data and stay only with Total data (from age group)

,Entidad federativa,Grupo quinquenal de edad,1990,1995,2000,2005,2010,2020
0,Estados Unidos Mexicanos,Total,81249645,91158290,97483412,103263388,112336538,126014024
1,Estados Unidos Mexicanos,0 a 4 años,10195178,10724100,10635157,10186243,10528322,10047365
2,Estados Unidos Mexicanos,5 a 9 años,10562234,10867563,11215323,10511738,11047537,10764379
3,Estados Unidos Mexicanos,10 a 14 años,10389092,10670048,10736493,10952123,10939937,10943540
4,Estados Unidos Mexicanos,15 a 19 años,9664403,10142071,9992135,10109021,11026112,10806690
5,Estados Unidos Mexicanos,20 a 24 años,7829163,9397424,9071134,8964629,9892271,10422095
6,Estados Unidos Mexicanos,25 a 29 años,6404512,7613090,8157743,8103358,8788177,9993001
7,Estados Unidos Mexicanos,30 a 34 años,5387619,6564605,7136523,7933951,8470798,9420827
8,Estados Unidos Mexicanos,35 a 39 años,4579116,5820178,6352538,7112526,8292987,9020276
9,Estados Unidos Mexicanos,40 a 44 años,3497770,4434317,5194833,6017268,7009226,8503586
10,Estados Unidos Mexicanos,45 a 49 años,2971860,3612452,4072091,5015255,5928730,7942413
11,Estados Unidos Mexicanos,50 a 54 años,2393791,2896049,3357953,4090650,5064291,7037532
12,Estados Unidos Mexicanos,55 a 59 años,1894484,2231897,2559231,3117071,3895365,5695958
13,Estados Unidos Mexicanos,60 a 64 años,1611317,1941953,2198146,2622476,3116466,4821062
14,Estados Unidos Mexicanos,65 a 69 años,1183651,1425809,1660785,1958069,2317265,3645077

In [16]:
census.count()

Entidad federativa          759
Grupo quinquenal de edad    759
1990                        759
1995                        759
2000                        759
2005                        759
2010                        759
2020                        759
dtype: int64

In [17]:
census.dtypes

Entidad federativa          object
Grupo quinquenal de edad    object
1990                         int64
1995                         int64
2000                         int64
2005                         int64
2010                         int64
2020                         int64
dtype: object

In [18]:
del census['1990']
del census['1995']
del census['2000']
del census['2005']
del census['2010']

In [19]:
census.describe()

               2020
count  7.590000e+02
mean   6.641055e+05
std    4.808992e+06
min    5.500000e+01
25%    2.965800e+04
50%    1.257660e+05
75%    2.778645e+05
max    1.260140e+08

In [20]:
census.head()

         Entidad federativa Grupo quinquenal de edad       2020
0  Estados Unidos Mexicanos                    Total  126014024
1  Estados Unidos Mexicanos               0 a 4 años   10047365
2  Estados Unidos Mexicanos               5 a 9 años   10764379
3  Estados Unidos Mexicanos             10 a 14 años   10943540
4  Estados Unidos Mexicanos             15 a 19 años   10806690

In [21]:
census_new = census.loc[census["Grupo quinquenal de edad"] == "Total"]
census_new.head()

          Entidad federativa Grupo quinquenal de edad       2020
0   Estados Unidos Mexicanos                    Total  126014024
23            Aguascalientes                    Total    1425607
46           Baja California                    Total    3769020
69       Baja California Sur                    Total     798447
92                  Campeche                    Total     928363

In [22]:
census_final = census_new.loc[census_new["Entidad federativa"] != "Estados Unidos Mexicanos", ["Entidad federativa", "2020"] ]
census_final.head()

       Entidad federativa     2020
23         Aguascalientes  1425607
46        Baja California  3769020
69    Baja California Sur   798447
92               Campeche   928363
115  Coahuila de Zaragoza  3146771

In [23]:
census_export = census_final.rename(columns={"Entidad federativa": "State",
                                                "2020": "Total"})

In [24]:
census_sorted = census_export.sort_values(["State"], ascending=True )
census_sorted['Total'] = pd.to_numeric(census_sorted['Total'])
census_sorted.to_csv("clean_data/poblacion.csv", index=False)

In [25]:
# 2. Crime per state data
# https://www.gob.mx/sesnsp/acciones-y-programas/datos-abiertos-de-incidencia-delictiva

In [26]:
gobfed = "raw_data/Gobierno_Federal_Incidencia_Delictiva.csv"
crime_df = pd.read_csv(gobfed)

In [27]:
crime_df.head()

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,Total
0,2019,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,7,4,6,2,2,5,3,1,11,10,3,2,15
1,2019,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1,1,2,4,0,2,0,0,1,3,4,8
2,2019,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,1,2,2,2,2,1,0,1,0,0,1,2,3
3,2019,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,0,0,0,0,2,0,0,0,0,0,0,0,0
4,2019,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,0,0,0,0,1,0,1,0,0,0,0,0

In [28]:
crime_df.count()

Año                       3520
Clave_Ent                 3520
Entidad                   3520
Bien jurídico afectado    3520
Tipo de delito            3520
Subtipo de delito         3520
Modalidad                 3520
Enero                     3520
Febrero                   3520
Marzo                     3520
Abril                     3520
Mayo                      3520
Junio                     3520
Julio                     3520
Agosto                    3520
Septiembre                3520
Octubre                   3520
Noviembre                 3520
Diciembre                 3520
Total                     3520
dtype: int64

In [29]:
del crime_df['Total']
del crime_df['Modalidad']
del crime_df['Subtipo de delito']
del crime_df['Tipo de delito']
del crime_df['Bien jurídico afectado']
del crime_df['Clave_Ent']

In [30]:
crime_df.dtypes

Año            int64
Entidad       object
Enero          int64
Febrero        int64
Marzo          int64
Abril          int64
Mayo           int64
Junio          int64
Julio          int64
Agosto         int64
Septiembre     int64
Octubre        int64
Noviembre      int64
Diciembre      int64
dtype: object

In [31]:
# COVID latest data is from OCT 2020 so we want to use crime data corresponding to Jan-Sep 2020 and Oct-Dec 2019

In [32]:
df2019 = crime_df.loc[crime_df["Año"] == 2019 ]

In [33]:
df2019.head()

,Año,Entidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2019,Aguascalientes,7,4,6,2,2,5,3,1,11,10,3,2
1,2019,Aguascalientes,1,1,1,2,4,0,2,0,0,1,3,4
2,2019,Aguascalientes,1,2,2,2,2,1,0,1,0,0,1,2
3,2019,Aguascalientes,0,0,0,0,2,0,0,0,0,0,0,0
4,2019,Aguascalientes,0,0,0,0,0,1,0,1,0,0,0,0

In [34]:
del df2019['Enero']
del df2019['Febrero']
del df2019['Marzo']
del df2019['Abril']
del df2019['Mayo']
del df2019['Junio']
del df2019['Julio']
del df2019['Agosto']
del df2019['Septiembre']
del df2019['Año']

In [35]:
df2019.head()

          Entidad  Octubre  Noviembre  Diciembre
0  Aguascalientes       10          3          2
1  Aguascalientes        1          3          4
2  Aguascalientes        0          1          2
3  Aguascalientes        0          0          0
4  Aguascalientes        0          0          0

In [36]:
df_2019 = df2019.groupby(["Entidad"])
crimes_2019 = df_2019.sum()
new2019 = crimes_2019.reset_index()

In [37]:
new2019.head()

               Entidad  Octubre  Noviembre  Diciembre
0       Aguascalientes     1117        958        967
1      Baja California     3890       3485       3441
2  Baja California Sur      757        679        616
3             Campeche       73         78         73
4              Chiapas      591        567        572

In [38]:
df2020 = crime_df.loc[crime_df["Año"] == 2020 ]
del df2020['Octubre']
del df2020['Noviembre']
del df2020['Diciembre']
del df2020['Año']
df_2020 = df2020.groupby(["Entidad"])
crimes_2020 = df_2020.sum()
new2020 = crimes_2020.reset_index()

In [39]:
new2020.head()

,Entidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre
0,Aguascalientes,1207,1209,1304,848,945,1064,1048,866,867
1,Baja California,3363,3417,3525,2482,2621,2954,3253,3279,3091
2,Baja California Sur,708,699,718,353,412,594,642,564,614
3,Campeche,77,86,89,41,54,52,55,73,76
4,Chiapas,634,614,664,403,374,368,580,537,578

In [40]:
crime_df_final = pd.merge(new2020, new2019, on="Entidad")

In [41]:
crime_df_final.head()

,Entidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,Aguascalientes,1207,1209,1304,848,945,1064,1048,866,867,1117,958,967
1,Baja California,3363,3417,3525,2482,2621,2954,3253,3279,3091,3890,3485,3441
2,Baja California Sur,708,699,718,353,412,594,642,564,614,757,679,616
3,Campeche,77,86,89,41,54,52,55,73,76,73,78,73
4,Chiapas,634,614,664,403,374,368,580,537,578,591,567,572

In [42]:
crime_df_final["Total"] = crime_df_final.sum(axis=1)
crime_df_export = crime_df_final[["Entidad", "Total"]]

crime_renamed_df = crime_df_export.rename(columns={"Entidad": "State",
                                                "Total": "Crimes"})
crime_renamed_df.head()

                 State  Crimes
0       Aguascalientes   12400
1      Baja California   38801
2  Baja California Sur    7356
3             Campeche     827
4              Chiapas    6482

In [43]:
crime_sorted = crime_renamed_df.sort_values(["State"], ascending=True )
crime_sorted.to_csv("clean_data/crimenes.csv", index=False)

In [44]:
# 3. Tourist per state data
# Source INEGI - Webchat
# http://www.datatur.sectur.gob.mx/SitePages/InfTurxEdo.aspx

In [45]:
tourist = "raw_data/INEGI_Tourist_data.csv"
tourist_df = pd.read_csv(tourist)

In [46]:
tourist_df.head()

                 State  Number of Tourists
0       Aguascalientes            856960.0
1      Baja California           3958843.0
2  Baja California Sur           3445908.0
3             Campeche           1578131.0
4              Chiapas           4376440.0

In [47]:
tourist_df.dtypes

State                  object
Number of Tourists    float64
dtype: object

In [62]:
tourist_sorted = tourist_df.sort_values(["State"], ascending=True )
tourist_sorted['Number of Tourists'] = pd.to_numeric(tourist_sorted['Number of Tourists'])

tourist_sorted.to_csv("clean_data/Tourist.csv", index=False)

In [63]:
## Getting all data in the same dataframe

In [64]:
file1 = "clean_data/poblacion.csv"
file2 = "clean_data/tourist.csv"
file3 = "clean_data/crimenes.csv"

In [65]:
poblacion_df = pd.read_csv(file1)
tourist_df = pd.read_csv(file2)
crimes_df = pd.read_csv(file3)

In [66]:
poblacion_df.head()

                 State    Total
0       Aguascalientes  1425607
1      Baja California  3769020
2  Baja California Sur   798447
3             Campeche   928363
4              Chiapas  5543828

In [67]:
tourist_df.head()

                 State  Number of Tourists
0       Aguascalientes            856960.0
1      Baja California           3958843.0
2  Baja California Sur           3445908.0
3             Campeche           1578131.0
4              Chiapas           4376440.0

In [68]:
crimes_df.head()

                 State  Crimes
0       Aguascalientes   12400
1      Baja California   38801
2  Baja California Sur    7356
3             Campeche     827
4              Chiapas    6482

In [69]:
covid_df.head()

                 State  Covid Cases
0       Aguascalientes         7753
1      Baja California        22137
2  Baja California Sur        10925
3             Campeche         6235
4              Chiapas         8079

In [70]:
merge_df = pd.merge(covid_df, poblacion_df, on="State")

In [71]:
merge_df.head()

                 State  Covid Cases    Total
0       Aguascalientes         7753  1425607
1      Baja California        22137  3769020
2  Baja California Sur        10925   798447
3             Campeche         6235   928363
4              Chiapas         8079  5543828

In [72]:
final_df = pd.merge(merge_df, tourist_df, on="State")
final_df.head()

                 State  Covid Cases    Total  Number of Tourists
0       Aguascalientes         7753  1425607            856960.0
1      Baja California        22137  3769020           3958843.0
2  Baja California Sur        10925   798447           3445908.0
3             Campeche         6235   928363           1578131.0
4              Chiapas         8079  5543828           4376440.0

In [73]:
final_final_df = pd.merge(final_df, crimes_df, on="State")
final_final_df.head()

                 State  Covid Cases    Total  Number of Tourists  Crimes
0       Aguascalientes         7753  1425607            856960.0   12400
1      Baja California        22137  3769020           3958843.0   38801
2  Baja California Sur        10925   798447           3445908.0    7356
3             Campeche         6235   928363           1578131.0     827
4              Chiapas         8079  5543828           4376440.0    6482

In [74]:
renamed_df = final_final_df.rename(columns={"Covid Cases": "Covid Cases",
                                                "Total": "Population",
                                                "Number of Tourists": "Tourists",
                                                "Crimes": "Crimes"
                                                })
renamed_df.head()

                 State  Covid Cases  Population   Tourists  Crimes
0       Aguascalientes         7753     1425607   856960.0   12400
1      Baja California        22137     3769020  3958843.0   38801
2  Baja California Sur        10925      798447  3445908.0    7356
3             Campeche         6235      928363  1578131.0     827
4              Chiapas         8079     5543828  4376440.0    6482

In [75]:
renamed_df.dtypes

State           object
Covid Cases      int64
Population       int64
Tourists       float64
Crimes           int64
dtype: object